{{ 'custom-image-with-text-overlay.css' | asset_url | stylesheet_tag }}
{% style %}
  .custom-section-{{ section.id }} {
      padding-top: {{ section.settings.top_padding }}px;
      padding-bottom: {{ section.settings.bottom_padding }}px;
  }
{% endstyle %}
<div class="Img-txt-overlay-container page-width">
  
</div>
{% schema %}
{
  "name": "Image with text overlay",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "blocks": [
    {
      "type": "customBlock",
      "name": "Image with text overlay",
      "limit": 4,
      "settings": [
        {
          "type": "image_picker",
          "id": "Image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "title"
        },
        {
          "type": "text",
          "id": "description",
          "label": "description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with text overlay",
      "blocks": [
        {
          "type": "customBlock"
        },
      ]
    }
  ]
}
{% endschema %}
